.title {
	font-family: serif;
	font-style: normal !important;
	font-weight: 600 !important;
	font-size: 66px;
	color: rgba(0,0,0,.84);
	line-height: 64px;
	letter-spacing: 0;
}

.container {
	display: flex;
	padding-top: 100px;
}

.section_content {
	font-family: sans-serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1.58;
	letter-spacing: -.003em;
	margin-left: 300px;
	margin-right: 300px;
	max-width: 1300px;
}
.author {
	font-family: sans-serif,monospace !important;
	font-weight: 500;
	font-size: 20px;
	font-style: normal;
	margin-top: 55px;
	line-height: 0px;
	color:	rgba(0,0,0,0.7);
}

.date {
	font-family: cursive ;
	font-weight: lighter;
	font-size: 16px;
	font-style: normal;
	color: #586069;

}
.all{
	color:white;
	align-items:	right;
}